*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
font-family: "Montserrat", sans-serif;
font-size: 100px;
margin: 40px;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
label{
    font-size: 15px;
}
input[type='text']{
    border: #FA8E0F solid 2px;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
}
button{
    background-color: #FA8E0F;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 170px;
    margin: 20px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-transform:uppercase;
}

button:hover{
    background-color: #e27a03;
    color: lightgray;
}